:root {
	--ecru: 			#bfb48fff;
	--isabelline: 		#f2efe9ff;
	--yinmn-blue: 		#4a5899ff;
	--vista-blue: 		#9dacffff;
	--black: 			#000501ff;

	--polynesian-blue: 	#084887ff;
	--moonstone: 		#74b4beff;
	--redwood: 			rgb(110, 45, 49);

	--primary-color: 	var(--polynesian-blue);
	--secondary-color: 	var(--moonstone);
	--accent1-color: 	var(--redwood);
	--accent2-color: 	var(--black);

	--heading-font: "Fredoka", system-ui;
	--body-font: "Fredoka", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: var(--body-font);
	color: var(--accent1-color);
}

header, main, footer {
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-font);
	color: var(--primary-color);
	text-align: center;
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

header {
	display: grid;
	--nav-bar-height: 100px;
	grid-template: var(--nav-bar-height) / var(--nav-bar-height) 1fr
}

header img {
	width: auto;
	height: 100%;
	display: inline;
}

header nav {
	background-color: var(--primary-color);
	padding: 10px;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

header nav a {
	color: white;
	display: inline;
	padding: 10px 20px;
	font-size: 20px;
	text-decoration: none;
}

h1 {
	/* margin: 0px 0; */
	width: 100%;
	padding: 18px;
	text-align: center;
	opacity: 0.95;
	background-color: var(--accent1-color);
	color: #fff;
}

div.contact-info {
	display: flex;
	justify-content: center;
}

div.contact-info div {
	width: 600px;
}

div.employee-quotes {
	margin-top: 0px;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-evenly;
	/* height: 200px; */
}

div.employee-quotes span {
	height: 200px;
	display: inline-block;
	--padding: 0px;
	--margin: 5px;
	padding: 5px;
	margin: 20px;
}

div.employee-quotes span img {
	height: 100%;
	width: auto;
	padding: var(--padding);
	margin: var(--margin);
}

div.employee-quotes span span {
	width: 100%;
	display: block;
	text-align: center;
	padding: var(--padding);
	margin: var(--margin);
}

form.message-form {
	margin: 30px;
	padding: 20px;
	margin-top: 50px;
	background-color: var(--isabelline);
	border-radius: 20px;
	border: 2px solid var(--accent1-color);
	text-align: center;
}

form.message-form * {
	padding: 5px;
	margin: 5px;
}

input.radio-input {
	--size:15px;
	width: var(--size);
	height: var(--size);
}

form.message-form label, form.message-form input {
	display: inline;
}

button {
	padding: 5px;
	margin: 5px;
	background-color: var(--accent1-color);
	color: white;
	border-radius: 5px;
	font-size: 17px;
}

form.message-form div {
	display: flex;
	align-items: center;
	justify-content: center;
}

div.hero {
	position: relative;
}

div.hero img {
	display: block;
	width: 100%;
	height: auto;
}

div.hero h1 {
	position: absolute;
	top: 20px;
}

div.hero article {
	position: absolute;
	bottom: 30px;
	color: var(--black);
	background-color: var(--secondary-color);
	font-size: 20px;
	opacity: 0.95;
	border: 1px solid var(--accent2-color);
	border-radius: 7.5px;
	box-shadow: 5px 5px 10px var(--accent2-color);
	display: flex;
	align-items: center;
}

div.hero article img {
	float: right;
	width: 150px;
}

section.history {
	position: relative;
	/* display: flex; */
}

section.history h2 {
	text-align: center;
	/* float: center; */
}

section.history div {
	display: grid;
	grid-template: 1fr / 2fr 1fr 2fr
}

section.history div img {
	/* position: inline; */
	width: 300px;
	height: auto;

	margin: 16px;
	padding: 8px;
}

.center-children {
	display: flex;
	justify-content: center;
}

div.info-grid {
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr;
	width: 75%;
}

div.info-grid * {
	margin: 20px;
	padding: 5px;
	font-size: 20px;
}

div.info-grid img {
	height: 160px;
	box-shadow: 5px 5px 10px var(--accent2-color);
}

footer {
	margin-top: 100px;
	border-top: 1px solid var(--primary-color);
	text-align: center;

	height: 70px;
	color: var(--black);
	background-color: var(--moonstone);
	
	/* display: grid;
	grid-template-columns: 1fr repeat(3, 40px) */
}

footer nav.socialmedia {
	float: right;
	padding: 0;
}

footer nav.socialmedia a img {
	height: 40px;
}