:root {
	--ecru: 		#bfb48fff;
	--isabelline: 	#f2efe9ff;
	--yinmn-blue: 	#4a5899ff;
	--vista-blue: 	#9dacffff;
	--black: 		#000501ff;

	--primary-color: 	var(--yinmn-blue);
	--secondary-color: 	var(--ecru);
	--accent1-color: 	var(--isabelline);
	--accent2-color: 	var(--vista-blue);

	--heading-font: "Chewy", system-ui;
	--text-font: "Fredoka", sans-serif;
}

body {
	font-family: var(--text-font);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-font);
}

header img {
	width: 10%;
	display: inline;
}

nav {
	background-color: var(--primary-color);
	padding: 10px;
	display: inline;
}

nav a {
	color: white;
	display: inline;
	padding: 20px;
}

h1 {
	color: var(--primary-color);
}

main img {
	width: 150px;
	height: auto;
	border: 1px solid var(--black);
	padding: 2px;
	box-shadow: 0 0 30px gray;
}

p {
	padding: 0;
}

main {
	max-width: 840px;
}

aside {
	width: 150px;
	margin: 10px;
	border: 2px solid var(--primary-color);
	padding: 20px;
	background-color: var(--secondary-color);
	color: var(--black);
	text-align: center;
}

aside img {
	width: 200px;
	height: auto;
}

footer {
	margin-top: 100px;
	border-top: 1px solid var(--primary-color);
	text-align: center;
}

footer nav {
	all: initial;
}

footer nav a img {
	height: 40px;
}